*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
#cajaIzquierda{
    align-self: flex-end;
}
#colores{
    width: min-content;
}
#columnaColores{
    width: min-content;
    border: 1px solid black;
    
}
#coloresElegidos{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
#resultadoAciertos{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
#combinaciones{
    min-width: 500px;
    display: flex;
    align-self: flex-end;
}

#comprobar{
    width: 70px
}
body{
    margin: 0 auto;
}
#btnReiniciar{
    background-color: blue;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin: 0 auto;
}