*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
#cajaIzquierda{
    align-self: flex-end;
}
#colores{
    width: min-content;
}
#columnaColores{
    width: min-content;
    border: 1px solid black;
    
}
#coloresElegidos{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
#resultadoAciertos{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
#combinaciones{
    min-width: 500px;
    display: flex;
    align-self: flex-end;
}

#comprobar{
    width: 70px
}
body{
    margin: 0 auto;
}
#btnReiniciar{
    background-color: blue;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin: 0 auto;
}
.modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: black; /* Fallback color */
    background-color: rgba(43, 34, 34, 0.4); /* Black w/ opacity */
}
.contenido {
    align-items: center;
    background-color: white;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: center;
    border: 1px solid #888;
    width: 50%;
}