*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    width: 60%;
    margin: 0 auto;
}
#cajaIzquierda{
    align-self: flex-end;
}
#coloresElegidos{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
#resultadoAciertos{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
#combinaciones{
    min-width: 500px;
    display: flex;
}
#colores{
    width: min-content;
}
#comprobar{
    width: 70px
}
body{
    display: inline-block;
}
#btnReiniciar{
    width: 50%;
    margin: 0 auto;
}