*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    border: 2px solid black;
    height: 700px;
    background-color: lightpink;
}
#cajaIzquierda{
    align-self: flex-end;
}
#coloresElegidos{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
#resultadoAciertos{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
#combinaciones{
    min-width: 500px;
    display: flex;
}
#colores{
    width: min-content;
    border: 1px solid black;
}
#comprobar{
    width: 70px
}
body{
    display: grid;
    grid-template-columns: 1fr;
    width: 35%;
    margin: 0 auto;
}
#btnReiniciar{
    background-color: blue;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    width: 50%;
    margin: 0 auto;
}